//Variables LOGO

$whiteColor: #f7fdfe;
$grayColor: #82868f;
$darkGray: #444446;;
$blueColor: #0ebfdd;

$h1Size: 36px;
$pSize: 14px;
$footerSize: 10px;
$fontFamily: sans-serif;

$h1SizeMQ: 72px;
$pSizeMQ: 22px;
